@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Error</h3>
    </div>
    <div class="panel-body">
        Sorry, the page you are Looking for is not found.
        <br />
        <br />
        <h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>
    </div>
</div>